<ion-header>
  <ion-toolbar>
    <ion-title>cactus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="/home" color="success">
    <ion-icon name="home-outline" color="warning"></ion-icon>
  </ion-button>
<ion-card *ngFor ="let w of weather" color="dark">
  <ion-card-header>
    <ion-icon name="sunny-outline"></ion-icon>
    <ion-icon name="rainy-outline"></ion-icon>
    Today's Weather Forecast in Galway
  </ion-card-header>
  <ion-card-content> 
    <ion-label color="success">Forecast: {{w.main}}</ion-label> 
    <br>
    <ion-label color="success">Type: {{w.description}}</ion-label> 
  </ion-card-content>
</ion-card>

</ion-content>
