<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="success" size="large"><b>cactus</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-button href="/home" color="success">
    <ion-icon name="home-outline" color="warning"></ion-icon>
  </ion-button>
<ion-card *ngFor ="let w of weather" color="dark">
  <ion-card-header>
    <ion-icon name="sunny-outline"></ion-icon>
    <ion-icon name="rainy-outline"></ion-icon>
    Today's Weather Forecast in Galway
  </ion-card-header>
  <ion-card-content> 
    <ion-label color="success">Forecast: {{w.main}}</ion-label> 
    <br>
    <ion-label color="success">Type: {{w.description}}</ion-label> 
  </ion-card-content>
</ion-card>
<br>
<div text-center>
  <img src="https://www.mygardenlife.com/uploads/2019/04/lead_cacti%20in%20windowsill_shutterstock_1111367210.jpg"/>
</div>
<ion-card>
  <ion-card-header color="dark">
    <ion-icon name="leaf-outline"></ion-icon> Cactus Plant Care <ion-icon name="leaf-outline"></ion-icon>
  </ion-card-header>
  <ion-card-content>
    <ion-label color="dark">
      <br>
      <p>Most cacti grow in deserts and will grow best in conditions with plenty of light, high temperatures and low moisture.</p>
      <p>South facing windows provide excellent light conditions for cacti. Direct sunlight can cause sunburn on your cactus plants.</p>
      <p>You will need a well-draining potting mix when planting. Cacti and succlent potting mixes contain sand and grit for good drainage.</p>
      <p>Be careful not to overwater your cacti plants. Overwatering can lead to the plant dying. To avoid this, let the soil dry out completely between waterings.</p>
    </ion-label>
    
    <br>
    <br>
    <ion-label color="dark">
      <p><b>Overwatered Cactus Symptoms</b></p>
      <p>- An overwatered cactus can appear pale and dull. Sometimes colour changes are difficult to spot. If your cactus is turning yellow, this may be a sign of overwatering.</p>
      <p>- If you touch the plant and it's stem feels soft or mushy, you have overwatered. The plant may also droop or lean out of the pot. Parts of the plant will fall off and larger cacti may topple over and break.</p>
    <br>
    </ion-label>
    <ion-label color="danger">
     <p>TIP: never allow your plant to sit in standing water. this will cause root rot.</p>
    </ion-label>
    
  </ion-card-content>
</ion-card>



</ion-content>
