
 <ion-header> 
  <ion-toolbar>
    <ion-title>succulents</ion-title>
  </ion-toolbar>
 </ion-header>
<ion-content>

  <ion-button href="/login" expand="full" fill="outline">Login Here</ion-button>
  <ion-card>
    <ion-card-header>
      <img src="https://image.freepik.com/free-vector/kawaii-cactus-icon_24911-45293.jpg"/>
      <ion-card-subtitle>Aloe Vera</ion-card-subtitle>
      <ion-card-title>Caring for Aloe Vera plants</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button href="/aloevera">click to learn more</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://image.freepik.com/free-vector/kawaii-cactus-icon_24911-45314.jpg"/>
      <ion-card-subtitle>Jade Plant</ion-card-subtitle>
      <ion-card-title>Caring for Jade plants</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button href="/jade">click to learn more</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://image.freepik.com/free-vector/kawaii-cactus-icon_24911-45307.jpg"/>
      <ion-card-subtitle>Cacti</ion-card-subtitle>
      <ion-card-title>Caring for Cacti</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button (click)="goToPage()">click to learn more</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
